<h1>Hello Food!</h1>
<!-- <p>Find me in app/views/foods/index.html.erb</p> -->
<table>
	<% @foods.each do |food| %>

		<tr>
			<td><%= food.name %></td>
			<td><%= food.food_type %></td>
			<td><%= food.expiration %></td>
			<td><%= food.quality %></td>
		</tr>	

	<% end %>	
</table>